<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/styles/banner.css" />
    <link rel="stylesheet" href="../assets/styles/root.css" />
</head>

<body>
    <div class="banner-wrapper">
        <div class="banner-wrapper-left">
            <a href="https://x.com/OEC0043?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="../assets/icons/x.svg" alt="" /></a>
            <div class="banner-line"></div>
            <a href="https://www.instagram.com/osakadenshi_1946/"><img src="../assets/icons/instagram.svg" alt="" /></a>
            <div class="banner-line"></div>
            <a href="https://page.line.me/iao1273m?openQrModal=true"><img src="../assets/icons/line.svg" alt="" /></a>
            <div class="banner-line"></div>
            <a href="https://www.youtube.com/@%E5%A4%A7%E9%98%AA%E9%9B%BB%E5%AD%90%E5%B0%82%E9%96%80%E5%AD%A6%E6%A0%A1-w7i"><img src="../assets/icons/youtube.svg" alt="" /></a>
        </div>

        <div class="banner-wrapper-right">
            <button class="close-btn" type="button"><img src="../assets/icons/close-btn.svg" alt="" /></button>
            <a class="mini-banner" href="">
                <div class="banner-left">
                    <h4>オープンキャンパス</h4>
                    <h5>ひと足先に学びに触れることが できるチャンス！</h5>
                </div>
                <div class="banner-right">
                    <img class="arrow-white" src="../assets/icons/arrow-down-left-white.svg" alt="" />
                    <img src="../assets/images/Frame 1.svg" alt="" />
                </div>
            </a>
        </div>
    </div>

    <script src="../js/banner.js"></script>
</body>

</html>