<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>colurfull</title>

    <link rel="stylesheet" href="../assets/styles/root.css" />
    <link rel="stylesheet" href="../assets/styles/colurfull-btns.css" />

</head>

<body>


    <div class="scroll-container">
        <div class="scroll-item">
            <div class="image-container">
                <img src="laptop.png" alt="Laptop Icon" class="item-image">
            </div>
            <div class="texts-scroll-item">
                <h2>転職サポート</h2>
                <p>高い合格率を実現する強力なバックアップ体制！</p>
            </div>
            <div class="icon-container">
                <img src="lightbulb.png" alt="Lightbulb Icon" class="small-icon">
            </div>
        </div>

        <div class="scroll-item">
            <div class="image-container">
                <img src="pamphlet.png" alt="Pamphlet Icon" class="item-image">
            </div>
            <div class="texts-scroll-item">
                <h2>パンフレット</h2>
                <p>大阪電子専門学校のパンフレットをお届け！資料請求はこちらから。</p>
            </div>
            <div class="icon-container">
                <img src="sample.png" alt="Sample Icon" class="small-icon">
            </div>
        </div>

        <div class="scroll-item">
            <div class="image-container">
                <img src="graduate.png" alt="Graduation Icon" class="item-image">
            </div>
            <div class="texts-scroll-item">
                <h2>卒業生インタビュー</h2>
                <p>様々な分野で活躍する、先輩たちの"現在"をインタビュー。</p>
            </div>
            <div class="icon-container">
                <img src="books.png" alt="Books Icon" class="small-icon">
            </div>
        </div>

        <div class="scroll-item">
            <div class="image-container">
                <img src="line.png" alt="LINE Icon" class="item-image">
            </div>
            <div class="texts-scroll-item">
                <h2>LINE相談</h2>
                <p>ひと足先に学びに相談できるチャンス！</p>
            </div>
            <div class="icon-container">
                <img src="chat.png" alt="Chat Icon" class="small-icon">
            </div>
        </div>
    </div>

</body>

</html>