<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department/Course Introduction</title>
    <link rel="stylesheet" href="../assets/styles/root.css" />
    <link rel="stylesheet" href="../assets/styles/Department.css" />

</head>

<body>

    <section class="department-courses">
        <div class="top-title-dc">
            <p>Department/Course</p>
            <h2>全学科・コース紹介 <span>🪄</span></h2>
        </div>
        <div class="dc-course-cards">

            <div class="card-dc">
                <div class="card-image-dc">
                    <div class="img-box-dc">
                        <img src="../assets/images/dc-page.png" alt="IT Engineering" />
                    </div>
                    <div class="card-content-dc">
                        <h3>情報エンジニア科 <span>IT領域</span></h3>
                        <p>IT社会の即戦力となれる一流の <br>「エンジニア」へ</p>
                    </div>
                    <div class="plus-button-dc-box">
                        <div class="plus-sign horizontal"></div>
                        <div class="plus-sign vertical"></div>
                    </div>
                    
                </div>
                <div class="card-footer-dc">
                    <a>ITコース</a>
                    <a>ネットワークコース</a>
                    <a>パソコンメンテコース</a>
                </div>
            </div>

            <div class="card-dc">
                <div class="card-image-dc">
                    <div class="img-box-dc">
                        <img src="../assets/images/dc-page.png" alt="IT Engineering" />
                    </div>
                    <div class="card-content-dc">
                        <h3>情報エンジニア科 <span>IT領域</span></h3>
                        <p>IT社会の即戦力となれる一流の <br>「エンジニア」へ</p>
                    </div>
                    <div class="plus-button-dc-box">
                        <div class="plus-sign horizontal"></div>
                        <div class="plus-sign vertical"></div>
                    </div>
                    
                </div>
                <div class="card-footer-dc">
                    <a>ITコース</a>
                    <a>ネットワークコース</a>
                    <a>パソコンメンテコース</a>
                </div>
            </div>

            <div class="card-dc">
                <div class="card-image-dc">
                    <div class="img-box-dc">
                        <img src="../assets/images/dc-page.png" alt="IT Engineering" />
                    </div>
                    <div class="card-content-dc">
                        <h3>情報エンジニア科 <span>IT領域</span></h3>
                        <p>IT社会の即戦力となれる一流の <br>「エンジニア」へ</p>
                    </div>
                    <div class="plus-button-dc-box">
                        <div class="plus-sign horizontal"></div>
                        <div class="plus-sign vertical"></div>
                    </div>
                    
                </div>
                <div class="card-footer-dc">
                    <a>ITコース</a>
                    <a>ネットワークコース</a>
                    <a>パソコンメンテコース</a>
                </div>
            </div>

        </div>
    </section>
    

</body>

</html>