<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department/Course Introduction</title>
    <link rel="stylesheet" href="../assets/styles/root.css" />
    <link rel="stylesheet" href="../assets/styles/faq.css" />

<body>


    <section class="faq-section">
        <div class="faq-title">
            <div class="title-box-faq">
                <p>FAQ</p>
                <h3>よくあるご質問 📝</h3>
            </div>
            <a href="#" class="faq-list-btn">😃一覧を見る
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke="#292D32" stroke-width="1.5"
                            stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M3.5 12H20.33" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </span>
            </a>
        </div>

        <div class="faq-items">
            <div class="faq-item">
                <div class="question">
                    <span class="q-label">Q.</span> 親元を離れて暮らすことになりますが、下宿先は紹介してもらえるのですか。
                    <button class="toggle-btn">+</button>
                </div>
                <div class="answer">
                    <p>遠隔地から入学を希望される人のために、学校指定の専門業者をご紹介しています。リーズナブルな賃貸料と良好な環境に配慮し、近隣で最適な学生マンションや下宿先（食事付き）を斡旋いたします。初めての大阪での暮らしも安心です。
                    </p>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">
                    <span class="q-label">Q.</span> 学生割引は利用できるのでしょうか。また、教育ローンは受けられますか。
                    <button class="toggle-btn">+</button>
                </div>
                <div class="answer">
                    <p>学生割引や教育ローンの利用可能です。詳細は学校の受付までお問い合わせください。</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">
                    <span class="q-label">Q.</span> クラスは高校のように担任制なのでしょうか。
                    <button class="toggle-btn">+</button>
                </div>
                <div class="answer">
                    <p>担任制を採用していますので、学生一人一人に合わせたサポートが可能です。</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">
                    <span class="q-label">Q.</span> コンピュータに触ったことがないのですが、大丈夫でしょうか。
                    <button class="toggle-btn">+</button>
                </div>
                <div class="answer">
                    <p>初心者でも問題ありません。基礎から学べる授業を提供しています。</p>
                </div>
            </div>
        </div>
    </section>



    <script src="../js/faq.js"></script>

</body>

</html>