<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department/Course Introduction</title>
    <link rel="stylesheet" href="../assets/styles/root.css" />
    <link rel="stylesheet" href="../assets/styles/feature.css" />

</head>

<body>
    <section class="features-main">
        <div class="features">
            <div class="top-title-f">
                <p>Feature</p>
                <h2>大阪電子専門学校が<br>選ばれる理由 <span>🙌</span></h2>
            </div>
            <div class="feature-cards">

                <div class="card-f">
                    <div class="card-image-f">
                        <div class="img-box-f">
                            <img src="../assets/images/dc-page.png" alt="IT Engineering Features" />
                        </div>
                        <div class="card-content-f">
                            <span>01</span>
                            <p>資格取得・希望就職率</p>
                            <h3>100%！</h3>
                        </div>
                        <div class="plus-button-box-f">
                            <div class="plus-sign horizontal-f"></div>
                            <div class="plus-sign vertical-f"></div>
                        </div>
                    </div>

                    <div class="cards-box-footer-f">
                        <p>
                            熱心なサポートで、なんと資格取得率は100%！希望就職率100%！個々の目標に焦点を当て、さまざまな資格を取得し、学生と企業のベストマッチングを実現します。
                        </p>
                    </div>
                </div>

                <div class="card-f">
                    <div class="card-image-f">
                        <div class="img-box-f">
                            <img src="../assets/images/dc-page.png" alt="IT Engineering Features" />
                        </div>
                        <div class="card-content-f">
                            <span>01</span>
                            <p>資格取得・希望就職率</p>
                            <h3>100%！</h3>
                        </div>
                        <div class="plus-button-box-f">
                            <div class="plus-sign horizontal-f"></div>
                            <div class="plus-sign vertical-f"></div>
                        </div>
                    </div>

                    <div class="cards-box-footer-f">
                        <p>
                            熱心なサポートで、なんと資格取得率は100%！希望就職率100%！個々の目標に焦点を当て、さまざまな資格を取得し、学生と企業のベストマッチングを実現します。
                        </p>
                    </div>
                </div>

                <div class="card-f">
                    <div class="card-image-f">
                        <div class="img-box-f">
                            <img src="../assets/images/dc-page.png" alt="IT Engineering Features" />
                        </div>
                        <div class="card-content-f">
                            <span>01</span>
                            <p>資格取得・希望就職率</p>
                            <h3>100%！</h3>
                        </div>
                        <div class="plus-button-box-f">
                            <div class="plus-sign horizontal-f"></div>
                            <div class="plus-sign vertical-f"></div>
                        </div>
                    </div>

                    <div class="cards-box-footer-f">
                        <p>
                            熱心なサポートで、なんと資格取得率は100%！希望就職率100%！個々の目標に焦点を当て、さまざまな資格を取得し、学生と企業のベストマッチングを実現します。
                        </p>
                    </div>
                </div>

                <div class="card-f">
                    <div class="card-image-f">
                        <div class="img-box-f">
                            <img src="../assets/images/dc-page.png" alt="IT Engineering Features" />
                        </div>
                        <div class="card-content-f">
                            <span>01</span>
                            <p>資格取得・希望就職率</p>
                            <h3>100%！</h3>
                        </div>
                        <div class="plus-button-box-f">
                            <div class="plus-sign horizontal-f"></div>
                            <div class="plus-sign vertical-f"></div>
                        </div>
                    </div>

                    <div class="cards-box-footer-f">
                        <p>
                            熱心なサポートで、なんと資格取得率は100%！希望就職率100%！個々の目標に焦点を当て、さまざまな資格を取得し、学生と企業のベストマッチングを実現します。
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

</body>

</html>