<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- root style -->
    <link rel="stylesheet" href="../assets/styles/root.css">
    <!-- open_campus style -->
    <link rel="stylesheet" href="../assets/styles/open_campus.css">
</head>

<body>
    <section class="open_campus">
        <img src="../assets/images/open_campus.1.png" alt="" class="bg_img">

    </section>
</body>

</html>