<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/styles/root.css">
    <link rel="stylesheet" href="../assets/styles/open_campus.css">
</head>

<body>
    <section class="open-campus">
        <div class="wrapper">
            <h4 class="highlight"> まずは、オープンキャンパスに参加しよう！</h4>

            <div class="image-row">
                <img class="img1" src="../assets/images/open_campus.png" alt="Person 1" class="person person-1">
                <img class="img2" src="../assets/images/image 30.png" alt="">
            </div>

            <div class="center-card">
                <p class="card-top">ひと足先に学びに触れることができるチャンス！</p>

                <!-- <div class="next_event">
                    <span class="txt1">NEXT </span>
                    <span class="txt2">8/24</span>
                    <span class="txt3">土</span>
                    <span class="txt4">13:30〜16:00</span>
                </div> -->
                <img class="next_event" src="../assets/images/Group 3830.svg" alt="">

                <div class="event-info">
                    <button class="sign-up-button"><img src="../assets/images/open_campos_icons.1.svg" alt="">参加申し込み</button>
                    <a href="#" class="link">その他の日程はこちら <img src="../assets/images/banner_icon.3.png" alt=""></a>
                </div>
            </div>
        </div>
    </section>


</body>

</html>