.banner .wrapper {
    position: relative;
    width: 100%;
    max-height: 83rem;
    overflow: hidden;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    border-radius: 2rem;
}

.banner .wrapper .bg_txt {
    width: 98%;
    position: absolute;
}

.banner .wrapper .for_txt {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.banner .wrapper .for_txt h6 {
    font-size: 4.6rem;
    font-weight: bold;
    grid-area: h6;
}

.banner .wrapper .for_txt h6 span {
    width: fit-content;
    display: block;
    font-size: 1.6rem;
    font-weight: bold;
    background: var(--unnamed-color-120291);
    color: #fff;
    padding: .4rem 1.6rem;
    margin-bottom: 1.6rem;
}

.about_us .wrapper .bg_line span:last-child::before {
    width: 85%;
}

.about_us .wrapper .bg_line span:last-child {
    margin-top: 1rem;
}

.about_us .wrapper .bg_line span img {
    margin: 1rem;
    max-width: 6.1rem;
}


/*====================== media================== */

@media (max-width: 1640px) {}

@media (max-width: 1440px) {}

@media (max-width: 960px) {}